.banner {
    height: 50vh;
    width: 100%;
    position: relative;
}

.banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: blur(4px);
}

.project-tag {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.project-tag h1 {
    font-size: 43px;
}

.project-introduction, .project-description {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 80px 0px;
    color: white;
}

.project-description-technologies {
    align-items: center;
}