* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: inline-block;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .app {
        display: none; 
    }

}

html {
    height: auto;
    background: linear-gradient(#060c29, #a3a6a8) no-repeat center fixed;
}

body {
    height: auto;
    background-attachment: fixed;
    background-size: cover;
}
