* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#060c29, #a3a6a8);
    height: 100vh;
    /*margin-top: -20px;*/
    margin-top: -20px;
}

.app {
    display: inline-block;
    width: 100%;
}