* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: inline-block;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .app {
        display: none; 
    }

}

html {
    height: auto;
    background: radial-gradient(rgba(43, 55, 96, 1), rgba(11, 16, 35, 1)) no-repeat center fixed;
}

body {
    height: auto;
    background-attachment: fixed;
    background-size: cover;
}
