* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: sans-serif;
}

nav {
    height: 10vh;
    background-color: #060c29;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 50%;
    height: 100%;
    align-items: center;
    margin-left: auto;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

@media screen and (max-width: 768px) {

   .line {
       width: 30px;
       height: 3px;
       background: white;
       margin: 5px
   } 

   nav {
       position: relative;
   }

   .hamburger {
       position: absolute;
       cursor: pointer;
       right: 5%;
       top: 50%;
       transform: translate(-5%, -50%);
       z-index: 2;
   }
   .nav-links {
       position: fixed;
       background: #060c29;
       height: 100vh;
       width: 100%;
       flex-direction: column;
       clip-path: circle(100px at 90% -10%);
       -webkit-clip-path: circle(1000px at 90% -10%);
       transition: all 1s ease-out;
   }

   .nav-links.open{
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
   }
}