*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

/* SkillBar Section */

.skillbar {
    width: 25%;
    padding: 20px;
    transform: translate(10%, -130%);
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    background-color: #060c29;
    border-radius: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, .05),
                inset 0 -15px 15px rgba(255, 255, 255, .05),
                0 15px 15px rgba(0, 0, 0, .05),
                inset 0 15px 15px rgba(0, 0, 0, .05)
}

.skillbar-li {
    position: relative;
    list-style: none;
    margin: 50px 0;
    font-weight: 500;
    text-transform: uppercase;
}

.skillbar-li::before {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1000px;
}

.skillbar-li::after {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 15px;
    background-color: rgb(224, 248, 9);
    border-radius: 1000px;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

/* ------------------------------------------------------------------------------------------------------------- */

/* Skill Bars Fill-Up animation section */
.skillbar-li.java:after {
    animation-name: java;
}

@keyframes java {
    to{
        width: 90%
    }
}


li.python:after {
    animation-name: python;
}

@keyframes python {
    to {
        width: 70%;
    }
}

li.csharp:after {
    animation-name: csharp;
}

@keyframes csharp {
    to {
        width: 30%;
    }
}

li.html:after {
    animation-name: html;
}

@keyframes html {
    to {
        width: 60%;
    }
}

li.css:after {
    animation-name: css;
}

@keyframes css {
    to {
        width: 45%;
    }
}

li.react:after {
    animation-name: react;
}

@keyframes react {
    to {
        width: 50%;
    }
}

li.springboot:after {
    animation-name: springboot;
}

@keyframes springboot {
    to {
        width: 60%;
    }
}

li.flutter:after {
    animation-name: flutter;
}

@keyframes flutter {
    to {
        width: 30%;
    }
}

/* ------------------------------------------------------------------------------------------------------------- */


/* Object Resolution Section */

@media screen and (max-width: 1200px) {
    .skillbar {
        width: 50%;
        transform: translate(50%, 40%);
    }
}

/* ------------------------------------------------------------------------------------------------------------- */
