* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-footer {
    color: white;
    background-color: #060c29;
    padding-top: 3rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
}

.contents {
    margin-left: 5%;
}