* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    margin-left: 50%;
    transform: translate(-50%, 0);
    border-radius: 25px;
    width: 100vh;
    height: 50vh;
    background-color: #060c29;
}

.box h1 {
    color: white;
    font-weight: bold;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    width: 50%;
}

.tooltip a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 10px;
    margin-left: 120%;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip a:hover {
    animation: contact-link-animation .7s forwards;
}

@keyframes contact-link-animation{
    to {
        font-size: 23px;
        font-weight: bolder;
    }
}


.contact-links {
    display: flex;
    height: 110%;
    justify-content: space-around;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
}


.contact-links img {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 15px;
    margin-top: 2%;
}

.contact-links a {
    margin-left: -60%;
    margin-top: 3%;
}

.phone {
    margin-top: 3%;
    margin-left: -50%;
    color: white;
}

.email {
    margin-left: -15%;
    margin-top: 3%;
    color: white;
}

.contact-fields {
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    width: 50%;
    height: 13%;
}

.contact-fields img {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 15px;
    margin-top: 2%;
}